[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
carbone-sdk = "*"
django = "*"
django-anymail = "*"
django-redis = "*"
django-cors-headers = "*"
gunicorn = "*"
psycopg2-binary = "*"
drf-yasg = "*"
djangorestframework = "*"
sentry-sdk = "*"
django-countries = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
flake8 = "*"
faker = "*"
coverage = "*"
celery = "*"
django-celery-beat = "*"
django-celery-results = "*"
uvicorn = "*"
coveralls = "*"
python-dateutil = "*"
pre-commit = "*"
python-magic = "*"
ipython = "*"
pandas = "*"
openpyxl = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.11"
